---
import BlogPostCard from '@components/BlogPostCard.astro';
import Layout from '@layouts/Layout.astro';
import { slugify } from '@lib/slugify';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const series = await getCollection('series');
	return series.map((entry) => ({
		params: { slug: slugify(entry.data.title) },
		props: { entry }
	}));
}

const { entry } = Astro.props;
const posts = await getCollection('blog', ({ data }) => data.series?.id === entry.id);
---

<Layout title={`FantomeBeignet - ${entry.data.title}`}>
	<main
		class="flex min-h-screen w-full max-w-7xl flex-col items-start justify-start gap-4 p-16 md:gap-6 md:p-24 lg:gap-8 lg:p-32"
	>
		<h2 class="text-2xl lg:text-4xl">Series: {entry.data.title}</h2>
		<ul class="flex flex-col">
			{
				posts.map(async (post) => {
					return (
						<li>
							<BlogPostCard entry={post} />
						</li>
					);
				})
			}
		</ul>
	</main>
</Layout>
