$colors: (
  neutral: (
    100: #e3e5e8,
    200: #bbbdbf,
    400: #545e80,
    600: #394057,
    700: #292d3e,
    900: #191c26,
  ),
  primary: (
    300: #e1acff,
    400: #c792ea,
    500: #9a72b5,
  ),
);
