$colors: (
  neutral: (
    100: #f2f2f3,
    200: #d7d8d9,
    300: #bcbdc0,
    400: #a1a2a6,
    500: #86878c,
    600: #6a6c73,
    700: #4f5259,
    800: #343740,
    900: #191c26,
  ),
  primary: (
    100: #d8b3f2,
    200: #d2a8ef,
    300: #cd9ded,
    400: #c792ea,
    500: #ad7ecb,
    600: #936bae,
    700: #7a5891,
  ),
  secondary: (
    100: #5d8fac,
    200: #457fa0,
    300: #2b7094,
    400: #006188,
    500: #005375,
    600: #004663,
    700: #003952,
  ),
);
