---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
---

<Layout title="FantomeBeignet - Home">
	<main
		class="flex h-full w-full flex-col items-center justify-center gap-20 p-16 font-body font-light text-surface-50 md:gap-28 md:p-24 lg:gap-36 lg:p-32"
	>
		<!-- Hero section -->
		<div class="flex flex-col items-start justify-center gap-1 md:gap-2">
			<h1 class="font-heading text-4xl font-bold md:text-6xl lg:text-8xl">
				Hello, I'm <br /><span class="gradient-heading">FantomeBeignet</span>
			</h1>
			<span class="text-lg font-light leading-tight md:text-2xl lg:text-3xl"
				>I'm a small dev working mostly on websites and compilers</span
			>
		</div>

		<!-- Links -->
		<div class="flex flex-col items-center justify-center">
			<h2 class="text-2xl font-light md:text-3xl lg:text-4xl">Find me on:</h2>
			<div class="flex items-center justify-center gap-6 p-4 md:gap-10 md:p-6 lg:gap-12 lg:p-8">
				<a
					rel="me"
					href="https://hachyderm.io/@fantomebeignet"
					class="group flex flex-col items-center justify-center gap-2 transition-colors hover:text-primary"
				>
					<span class="fa-brands fa-mastodon text-center text-2xl md:text-4xl lg:text-5xl"></span>
					<span
						class="text-lg font-light underline-offset-4 group-hover:underline md:text-xl lg:text-2xl"
						>Mastodon</span
					>
				</a>
				<a
					rel="me"
					href="https://github.com/FantomeBeignet"
					class="group flex flex-col items-center justify-center gap-2 transition-colors hover:text-primary"
				>
					<span class="fa-brands fa-github text-center text-2xl md:text-4xl lg:text-5xl"></span>
					<span
						class="text-lg font-light underline-offset-4 group-hover:underline md:text-xl lg:text-2xl"
						>GitHub</span
					>
				</a>
			</div>
		</div>

		<!-- Separator -->
		<div class="h-px w-8/12 bg-gradient-to-r from-transparent via-primary-700 to-transparent"></div>

		<!-- Tools and languages -->
		<div class="flex flex-col items-center justify-center">
			<h2 class="text-2xl font-light md:text-3xl lg:text-4xl">I work with</h2>
			<div
				class="flex flex-wrap items-center justify-center gap-6 p-4 md:gap-10 md:p-6 lg:gap-12 lg:p-8"
			>
				<!-- Linux -->
				<div
					class="flex flex-col items-center justify-center gap-2 transition-colors hover:text-primary"
				>
					<span class="fa-brands fa-linux text-center text-2xl md:text-4xl lg:text-5xl"></span>
					<span class="text-lg font-light md:text-xl lg:text-2xl">Linux</span>
				</div>
				<!-- Git -->
				<div
					class="flex flex-col items-center justify-center gap-2 transition-colors hover:text-primary"
				>
					<span class="fa-brands fa-git-alt text-center text-2xl md:text-4xl lg:text-5xl"></span>
					<span class="text-lg font-light md:text-xl lg:text-2xl">Git</span>
				</div>
				<!-- Go -->
				<div
					class="flex flex-col items-center justify-center gap-2 transition-colors hover:text-primary"
				>
					<span class="fa-brands fa-golang text-center text-2xl md:text-4xl lg:text-5xl"></span>
					<span class="text-lg font-light md:text-xl lg:text-2xl">Go</span>
				</div>
				<!-- JS -->
				<div
					class="flex flex-col items-center justify-center gap-2 transition-colors hover:text-primary"
				>
					<span class="fa-brands fa-js text-center text-2xl md:text-4xl lg:text-5xl"></span>
					<span class="text-lg font-light md:text-xl lg:text-2xl">JS/TS</span>
				</div>
				<!-- Docker -->
				<div
					class="flex flex-col items-center justify-center gap-2 transition-colors hover:text-primary"
				>
					<span class="fa-brands fa-docker text-center text-2xl md:text-4xl lg:text-5xl"></span>
					<span class="text-lg font-light md:text-xl lg:text-2xl">Docker</span>
				</div>
				<!-- Sass -->
				<div
					class="flex flex-col items-center justify-center gap-2 transition-colors hover:text-primary"
				>
					<span class="fa-brands fa-sass text-center text-2xl md:text-4xl lg:text-5xl"></span>
					<span class="text-lg font-light md:text-xl lg:text-2xl">SCSS</span>
				</div>
			</div>
			<span class="text-xl font-light text-surface-300 md:text-2xl lg:text-3xl">and more...</span>
		</div>

		<!-- Projects -->
		<div class="flex flex-col items-center justify-center">
			<h2 class="text-2xl font-light md:text-3xl lg:text-4xl">My projects:</h2>
			<div class="flex flex-col items-center justify-center gap-4 p-4 md:flex-row md:p-6 lg:p-8">
				<Card
					title="CETEN TV"
					tags="go, svelte, docker"
					link="https://github.com/FantomeBeignet/ceten_tv"
				>
					Slideshow manager and calendar visualizer hosted on a Raspberry Pi
				</Card>
				<Card title="koj" tags="compiler, ocaml" link="https://github.com/koj-lang/reference">
					General purpose programming language that compiles to C (very early stage)
				</Card>
				<Card
					title="fantomebeig.net"
					tags="astro, typescript"
					link="https://github.com/FantomeBeignet/fantomebeig.net"
				>
					My website (this one!) build with &lt;3 with Astro
				</Card>
			</div>
			<a
				href="https://github.com/FantomeBeignet?tab=repositories"
				class="text-xl text-surface-300 underline-offset-4 transition-colors hover:text-primary hover:underline md:text-2xl lg:text-3xl"
				>See all</a
			>
		</div>
	</main>
</Layout>

