---
import Layout from '../layouts/Layout.astro'
---

<Layout title ="FTB Homepage">
	<main class = "w-full h-full flex items-center justify-center">
		<h1 class = "text-surface-50 text-5xl md:text-6xl lg:text-8xl font-semibold p-24 md:p-36 lg:p-40">Hello, I'm <br/><span class = "gradient-heading">FantomeBeignet</span></h1>
	</main>
</Layout>

<style>
.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-tertiary via-secondary to-primary;
}
</style>
