<section class="about">
  <div class="about__me">
    <div class="about__me-content">
      <h2 class="about__title" id="about">ABOUT</h2>
      <p class="about__text">
        Hey there ! My name is Tom, and I'm a computer engineering student at
        TELECOM Nancy in France. I'm mainly interested in web developement,
        systems programming and writing compilers, but I like to do a bit of
        everything !
      </p>
    </div>
  </div>
  <div class="about__techs">
    <div class="about__tech-wrapper">
      <div class="about__tech bigger">
        <p>
          <span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span>
        </p>
        <p aria-hidden="true">
          <span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span><span
            class="about__tech-item">techs</span
          ><span class="about__tech-item">techs</span>
        </p>
      </div>
      <div class="about__tech">
        <p>
          <span class="about__tech-item">Python</span><span
            class="about__tech-item">Go</span
          ><span class="about__tech-item">C</span><span class="about__tech-item"
            >Ocaml</span
          ><span class="about__tech-item">Matlab</span><span
            class="about__tech-item">Dart</span
          ><span class="about__tech-item">TypeScript</span><span
            class="about__tech-item">Python</span
          ><span class="about__tech-item">Go</span><span
            class="about__tech-item">C</span
          ><span class="about__tech-item">Ocaml</span><span
            class="about__tech-item">Matlab</span
          ><span class="about__tech-item">Dart</span><span
            class="about__tech-item">TypeScript</span
          >
        </p>
        <p aria-hidden="true">
          <span class="about__tech-item">Python</span><span
            class="about__tech-item">Go</span
          ><span class="about__tech-item">C</span><span class="about__tech-item"
            >Ocaml</span
          ><span class="about__tech-item">Matlab</span><span
            class="about__tech-item">Dart</span
          ><span class="about__tech-item">TypeScript</span><span
            class="about__tech-item">Python</span
          ><span class="about__tech-item">Go</span><span
            class="about__tech-item">C</span
          ><span class="about__tech-item">Ocaml</span><span
            class="about__tech-item">Matlab</span
          ><span class="about__tech-item">Dart</span><span
            class="about__tech-item">TypeScript</span
          >
        </p>
      </div>
      <div class="about__tech">
        <p>
          <span class="about__tech-item">Svelte</span><span
            class="about__tech-item">React</span
          ><span class="about__tech-item">Flask</span><span
            class="about__tech-item">CSS</span
          ><span class="about__tech-item">SvelteKit</span><span
            class="about__tech-item">Astro</span
          ><span class="about__tech-item">HTML</span><span
            class="about__tech-item">Flutter</span
          ><span class="about__tech-item">SCSS</span><span
            class="about__tech-item">Svelte</span
          ><span class="about__tech-item">React</span><span
            class="about__tech-item">Flask</span
          ><span class="about__tech-item">CSS</span><span
            class="about__tech-item">SvelteKit</span
          ><span class="about__tech-item">Astro</span><span
            class="about__tech-item">HTML</span
          ><span class="about__tech-item">Flutter</span><span
            class="about__tech-item">SCSS</span
          >
        </p>
        <p aria-hidden="true">
          <span class="about__tech-item">Svelte</span><span
            class="about__tech-item">React</span
          ><span class="about__tech-item">Flask</span><span
            class="about__tech-item">CSS</span
          ><span class="about__tech-item">SvelteKit</span><span
            class="about__tech-item">Astro</span
          ><span class="about__tech-item">HTML</span><span
            class="about__tech-item">Flutter</span
          ><span class="about__tech-item">SCSS</span><span
            class="about__tech-item">Svelte</span
          ><span class="about__tech-item">React</span><span
            class="about__tech-item">Flask</span
          ><span class="about__tech-item">CSS</span><span
            class="about__tech-item">SvelteKit</span
          ><span class="about__tech-item">Astro</span><span
            class="about__tech-item">HTML</span
          ><span class="about__tech-item">Flutter</span><span
            class="about__tech-item">SCSS</span
          >
        </p>
      </div>
      <div class="about__tech bigger">
        <p>
          <span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          >
        </p>
        <p aria-hidden="true">
          <span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          ><span class="about__tech-item">tools</span><span
            class="about__tech-item">tools</span
          >
        </p>
      </div>
      <div class="about__tech">
        <p>
          <span class="about__tech-item">Linux</span><span
            class="about__tech-item">Latex</span
          ><span class="about__tech-item">Docker</span><span
            class="about__tech-item">Make</span
          ><span class="about__tech-item">VSCode</span><span
            class="about__tech-item">Linux</span
          ><span class="about__tech-item">Latex</span><span
            class="about__tech-item">Docker</span
          ><span class="about__tech-item">Make</span><span
            class="about__tech-item">VSCode</span
          ><span class="about__tech-item">Linux</span><span
            class="about__tech-item">Latex</span
          ><span class="about__tech-item">Docker</span><span
            class="about__tech-item">Make</span
          ><span class="about__tech-item">VSCode</span><span
            class="about__tech-item">Vercel</span
          ><span class="about__tech-item">Git</span><span
            class="about__tech-item">TailwindCSS</span
          >
        </p>
        <p aria-hidden="true">
          <span class="about__tech-item">Linux</span><span
            class="about__tech-item">Latex</span
          ><span class="about__tech-item">Docker</span><span
            class="about__tech-item">Make</span
          ><span class="about__tech-item">VSCode</span><span
            class="about__tech-item">Linux</span
          ><span class="about__tech-item">Latex</span><span
            class="about__tech-item">Docker</span
          ><span class="about__tech-item">Make</span><span
            class="about__tech-item">VSCode</span
          ><span class="about__tech-item">Linux</span><span
            class="about__tech-item">Latex</span
          ><span class="about__tech-item">Docker</span><span
            class="about__tech-item">Make</span
          ><span class="about__tech-item">VSCode</span><span
            class="about__tech-item">Vercel</span
          ><span class="about__tech-item">Git</span><span
            class="about__tech-item">TailwindCSS</span
          >
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .about {
    --magic-number: 0.06139;
    --skew-angle: -7deg;
    --content-width: 100vw;
    --skew-padding: calc(var(--content-width) * var(--magic-number));
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 var(--skew-padding) 0;

    &__me {
      background-color: color(neutral, 100);
      transform: skewY(var(--skew-angle));
      padding: var(--skew-padding) 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &-content {
        width: 100%;
        transform: skewY(calc(var(--skew-angle) * -1));
        padding: 2.5rem;
        color: color(neutral, 900);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
      }
    }

    &__title {
      width: 100%;
      font-size: 1.875rem;
      line-height: 2.25rem;
      letter-spacing: 0.025em;
      font-weight: 600;
    }

    &__text {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: justify;
    }

    &__techs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      transform: skewY(var(--skew-angle));
      background-color: color(neutral, 900);
      color: color(neutral, 100);
    }

    &__tech-wrapper {
      max-width: 100%;
      overflow: hidden;
      padding-block: 1rem;
    }

    &__tech {
      white-space: nowrap;
      overflow: hidden;
      display: inline-flex;
      font-size: 1.5rem;
      line-height: 1.25rem;
      text-transform: uppercase;
      font-family: "Fire Code", monospace;

      &:nth-of-type(even) {
        animation: slide 60s linear infinite;
      }

      &:nth-of-type(odd) {
        animation: slide 60s linear infinite reverse;
      }

      &:hover {
        animation-play-state: paused;
      }

      > p {
        display: inline-block;
      }

      &-item {
        display: inline-block;
        margin-inline: 0.5rem;
        transition: all 0.15s ease-in-out;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0.15rem;
          left: 0;
          right: 0;
          width: 100%;
          height: 0.5rem;
          transform: scaleX(0);
          transform-origin: center;
          background-color: color(primary);
          transition: transform 0.2s ease-in-out;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }

  .bigger {
    font-size: 1.875rem;
    line-height: 2rem;
  }

  @media screen and (min-width: 1024px) {
    .about {
      --magic-number: 0.04374;
      --skew-angle: -5deg;

      &__me-content {
        gap: 4rem;
        padding: 3rem;
        max-width: 50rem;
      }

      &__title {
        font-size: 3.75rem;
        line-height: 1;
        letter-spacing: 0.05em;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      &__tech {
        font-size: 2.5rem;
        line-height: 1;
      }
    }

    .bigger {
      font-size: 3rem;
      line-height: 1;
    }
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
</style>
