<section class="about">
  <div class="about__me">
    <div class="about__me-content">
      <h2 class="about__title" id="about">ABOUT</h2>
      <p class="about__text">
        Hey there ! My name is Tom, and I'm a computer engineering student at
        TELECOM Nancy in France. I'm mainly interested in web developement,
        systems programming and writing compilers, but I like to do a bit of
        everything !
      </p>
    </div>
  </div>
  <div class="about__techs">
    <div class="about__tech-wrapper">
      <div class="about__tech">
        <p>
          Techs techs techs techs techs techs techs echs techs techs techs techs
          techs techs
        </p>
        <p aria-hidden="true">
          Techs techs techs techs techs techs techs techs techs techs techs
          techs techs techs
        </p>
      </div>
      <div class="about__tech">
        <p>
          Svelte React Flask SvelteKit Astro TypeScript Flutter Svelte React
          Flask SvelteKit Astro TypeScript Flutter
        </p>
        <p aria-hidden="true">
          Svelte React Flask SvelteKit Astro TypeScript Flutter Svelte React
          Flask SvelteKit Astro TypeScript Flutter
        </p>
      </div>
      <div class="about__tech">
        <p>
          Python Golang C OCaml Matlab TypeScript Python Golang C OCaml Matlab
          TypeScript Dart
        </p>
        <p aria-hidden="true">
          Python Golang C OCaml Matlab TypeScript Python Golang C OCaml Matlab
          TypeScript Dart
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .about {
    --magic-number: 0.06139;
    --skew-angle: -7deg;
    --content-width: 100vw;
    --skew-padding: calc(var(--content-width) * var(--magic-number));
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 var(--skew-padding) 0;

    &__me {
      background-color: var(--color-text);
      transform: skewY(var(--skew-angle));
      padding: var(--skew-padding) 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      &-content {
        width: 100%;
        transform: skewY(calc(var(--skew-angle) * -1));
        padding: 2.5rem;
        color: var(--color-background-dark);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
      }
    }

    &__title {
      width: 100%;
      font-size: 1.875rem;
      line-height: 2.25rem;
      letter-spacing: 0.025em;
      font-weight: 600;
    }

    &__text {
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: justify;
    }

    &__techs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      transform: skewY(var(--skew-angle));
      background-color: var(--color-background-dark);
      color: var(--color-text);
    }

    &__tech-wrapper {
      max-width: 100%;
      overflow: hidden;
      padding-block: 1rem;
    }

    &__tech {
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      font-size: 1.5rem;
      line-height: 1.25rem;
      text-transform: uppercase;
      font-family: "Fire Code", monospace;

      &:nth-of-type(even) {
        animation: slide 30s linear infinite;
      }

      &:nth-of-type(odd) {
        animation: slide 30s linear infinite reverse;
      }

      &:hover {
        animation-play-state: paused;
      }

      > p {
        display: inline-block;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .about {
      --magic-number: 0.04374;
      --skew-angle: -5deg;

      &__me-content {
        gap: 4rem;
        padding: 3rem;
        max-width: 50rem;
      }

      &__title {
        font-size: 3.75rem;
        line-height: 1;
        letter-spacing: 0.05em;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      &__tech {
        font-size: 2.5rem;
        line-height: 1;
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
</style>
