<section class="about">
  <div class="about__me">
    <h2 class="about__title" id="about">ABOUT</h2>
    <p class="about__text">
      Hey there ! My name is Tom, and I'm a computer engineering student at
      TELECOM Nancy in France. I'm mainly interested in web developement,
      systems programming and writing compilers, but I like to do a bit of
      everything !
    </p>
  </div>
</section>

<style lang="scss">
  .about {
    --magic-number: 0.06139;
    --skew-angle: -7deg;
    --content-width: 100vw;
    --skew-padding: calc(var(--content-width) * var(--magic-number));
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--skew-padding) 0;
    margin: 4rem 0 var(--skew-padding) 0;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: var(--color-text);
      transform: skewY(var(--skew-angle));
    }

    &__me {
      padding: 2.5rem;
      color: var(--color-background-dark);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
    }

    &__title {
      width: 100%;
      font-size: 1.875rem;
      line-height: 2.25rem;
      letter-spacing: 0.025em;
      font-weight: 600;
    }

    &__text {
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: justify;
    }
  }

  @media screen and (min-width: 1024px) {
    .about {
      --magic-number: 0.04374;
      --skew-angle: -5deg;

      &__me {
        gap: 4rem;
        padding: 3rem;
        max-width: 50rem;
      }

      &__title {
        font-size: 3.75rem;
        line-height: 1;
        letter-spacing: 0.05em;
      }

      &__text {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  }
</style>
