<div class="hero">
  <div class="hero__blob" aria-hidden="true"></div>
  <div class="hero__blob" aria-hidden="true"></div>
  <div class="hero__blob" aria-hidden="true"></div>
  <div class="hero__blob" aria-hidden="true"></div>
  <div class="hero__text">
    <h1 class="hero__intro">
      Hi, I'm <span class="hero__text--highlight"
        >Tom<span class="hero__text--type" aria-hidden="true">_.</span>
      </span>
    </h1>
    <span class="hero__subtext"
      >I'm a student, developer, but most importantly a <span
        class="hero__subtext--underlined">tinkerer</span
      >.</span
    >
  </div>
  <a href="mailto:himself@fantomebeig.net" class="hero__button">// contact me</a
  >
</div>

<style lang="scss">
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    color: var(--color-text);
    padding: 6rem 2.5rem;

    &__blob {
      position: absolute;
      z-index: -1;
      aspect-ratio: 1;

      &:nth-of-type(1) {
        background-color: color(primary, 500);
        opacity: 0.05;
        top: 20%;
        left: -20%;
        width: 70vmin;
        height: 70vmin;
        transform-origin: 60% 30%;
        animation: spin 30s linear infinite,
          morph 15s ease-in-out infinite alternate;
      }
      &:nth-of-type(2) {
        background-color: color(neutral, 600);
        opacity: 0.1;
        top: 5%;
        right: 5%;
        width: 40vmin;
        height: 40vmin;
        transform-origin: 20% 55%;
        animation: spin 30s linear infinite,
          morph-bis 15s ease-in-out infinite alternate;
      }
      &:nth-of-type(3) {
        background-color: color(primary, 300);
        opacity: 0.05;
        bottom: 5%;
        right: 5%;
        width: 20vmin;
        height: 20vmin;
        transform-origin: 10% 20%;
        animation: spin 30s linear infinite,
          morph-ter 15s ease-in-out infinite alternate;
      }
      &:nth-of-type(4) {
        background-color: color(neutral, 400);
        opacity: 0.05;
        bottom: 20%;
        left: 50%;
        width: 30vmin;
        height: 30vmin;
        transform-origin: -25% -15%;
        animation: spin 30s linear infinite,
          morph 15s ease-in-out infinite alternate;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      &--highlight {
        display: inline-flex;
        font-family: "Fira Code", monospace;
        color: color(primary, 400);
      }

      &--type {
        overflow: hidden;
        white-space: nowrap;
        animation: type 0.75s steps(4, end) infinite alternate;
        color: color(neutral, 100);

        &::before {
          content: " ";
          display: inline-block;
        }
      }
    }

    &__subtext {
      font-size: 1.875rem;
      line-height: 2.25rem;
      font-weight: 400;
      color: color(neutral, 100);
      margin: 1rem 0;

      &--underlined {
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-color: color(primary);
        text-decoration-thickness: 0.375rem;
        text-underline-offset: 0.375rem;
      }
    }

    &__button {
      font-family: "Fira Code", monospace;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      padding: 0.75rem 1rem;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
      }

      &::before {
        top: 0;
        left: 0;
        border-top: 2px solid color(primary);
        border-left: 2px solid color(primary);
      }

      &::after {
        right: 0;
        bottom: 0;
        border-bottom: 2px solid color(primary);
        border-right: 2px solid color(primary);
      }

      &:hover::before,
      &:hover::after {
        width: 100%;
        height: 100%;
      }
    }
  }

  @keyframes type {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  }

  @keyframes morph {
    0% {
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    100% {
      border-radius: 41% 51% 44% 48% / 38% 67% 23% 60%;
    }
  }

  @keyframes morph-bis {
    0% {
      border-radius: 39% 61% 70% 30% / 36% 73% 27% 64%;
    }
    100% {
      border-radius: 62% 38% 62% 38% / 36% 21% 79% 64%;
    }
  }

  @keyframes morph-ter {
    0% {
      border-radius: 62% 38% 62% 38% / 31% 45% 55% 69%;
    }
    100% {
      border-radius: 77% 23% 75% 25% / 64% 21% 79% 36%;
    }
  }

  @media screen and (min-width: 1024px) {
    .hero {
      font-size: 4.5rem;
      line-height: 1;
      justify-content: start;
      padding: 10rem 5rem;
      gap: 5rem;

      &__text {
        gap: 1.5rem;
      }

      &__subtext {
        font-size: 2.25rem;
        line-height: 2.5rem;

        &--underlined {
          &::after {
            top: 2.5rem;
            width: 10rem;
            height: 1.25rem;
          }
        }
      }

      &__button {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1.25rem 1.75rem;

        &::before,
        &::after {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
</style>
