<nav class="navbar">
  <h3 class="logotype">
    <span class="logotype__highlight">F</span>antome<span
      class="logotype__highlight">B</span
    >eignet<span class="animate-blink">_</span>
  </h3>
  <ul class="nav-inner">
    <li class="nav-item">// home</li>
    <li class="nav-item">// about</li>
    <li class="nav-item">// projects</li>
    <li class="nav-item">// contact</li>
  </ul>
</nav>

<style>
  .navbar {
    @apply flex items-center justify-center w-full;
    @apply py-6;
  }

  .navbar::after {
    content: "";
    flex: 1;
  }

  .logotype {
    flex: 1;
    font-family: "Fira Code", monospace;
    @apply text-2xl text-secondary;
    @apply px-6;
  }

  .logotype__highlight {
    @apply text-accent;
  }

  .nav-inner {
    @apply flex flex-row items-center justify-center;
    @apply gap-16;
  }

  .nav-inner:hover > .nav-item:not(:hover) {
    @apply text-primary-light;
  }

  .nav-item {
    font-family: "Fira Code", monospace;
    @apply text-xl text-secondary;
    transition: color 0.2s ease-in-out;
  }
</style>
