---
import '../styles/app.css';

const { title, hideNavbar } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- FontAwesome icons -->
		<script src="https://kit.fontawesome.com/ba69886150.js" crossorigin="anonymous"></script>
		<script
			async
			src="https://umami.fantomebeig.net/script.js"
			data-website-id="8b9726fb-b5c2-4a7e-80b4-f7ed6edd1774"></script>
	</head>
	<body
		class="flex min-h-screen w-full flex-col items-center justify-start bg-surface-900 font-body font-light text-surface-50"
	>
		{
			!hideNavbar ? (
				<nav class="flex w-full items-center justify-center gap-8 p-3 text-lg underline underline-offset-4 lg:gap-16 lg:p-8 lg:text-2xl">
					<a href="/" class="transition-colors hover:text-primary">
						Home
					</a>
					<a href="/blog" class="transition-colors hover:text-primary">
						Blog
					</a>
				</nav>
			) : null
		}

		<slot />
	</body>
</html>
