---
import '../styles/app.css';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- FontAwesome icons -->
		<script src="https://kit.fontawesome.com/ba69886150.js" crossorigin="anonymous"></script>
	</head>
	<body
		class="flex min-h-screen w-full items-center justify-center bg-surface-900 font-light text-surface-50"
	>
		<slot />
	</body>
</html>
